
@{
    ViewData["Title"] = "Table";
}

<h2>Table</h2>
<button onclick="location.href = 'http://192.168.0.174:3000/portal/home'">查看风险列表</button>
<button onclick="location.href = 'http://192.168.0.158:8196/home/table'">查看合同列表</button>
<button onclick="location.href = '/home/table'">查看OA列表</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>

    </thead>
    <tbody>
        @for (int i = 0; i < 10; i++)
        {
            string content = "View" + i;
            <tr>
                <th scope="row">@content</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                    <button onclick="location.href = '/Home/Detail?id='+@i">查看本地单据</button>
                    <button onclick="location.href = 'http://192.168.0.158:8196/Home/Detail?id='+@i">查看合同单据</button>
                </td>
            </tr>
        }

    </tbody>
</table>